<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>938222656971-jvemctoh5bs3108sgli9udlnf8bjaheq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938222656971-jvemctoh5bs3108sgli9udlnf8bjaheq</string>
	<key>API_KEY</key>
	<string>AIzaSyARYulYGUv5KtPVMig1B_iTRwBSxC4fAbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>938222656971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Houdini.Music-Social</string>
	<key>PROJECT_ID</key>
	<string>music-social-659b0</string>
	<key>STORAGE_BUCKET</key>
	<string>music-social-659b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:938222656971:ios:42034fd3e691854e</string>
	<key>DATABASE_URL</key>
	<string>https://music-social-659b0.firebaseio.com</string>
</dict>
</plist>